name: Unit Tests

on:
  pull_request

permissions:
  contents: read

jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DevCycleHQ/license-action@main
        with:
          language: "javascript"
  run-tests:
    runs-on: ubicloud-standard-4
    strategy:
      matrix:
          node-version: [22.12]
    steps:
    - uses: actions/checkout@v4

    - run: corepack enable

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          
    - run: yarn install
    - run: yarn build
    - name: Check formatting
      run: yarn format:check
    - run: yarn test:ci
